@import './src/assets/styles/variables';

$shadow: 0 7px 14px rgba(0, 0, 0, 0.18),
0 5px 5px rgba(0, 0, 0, 0.12);

.button {
    width: 100%;
    text-align: center;

    &-content {
        border: none;
        padding: 10px 0;
        cursor: pointer;
        color: $contrast-color-font;
        font-size: $default-size-font;
        font-weight: $bold-font;
        border-radius: 3px;
        letter-spacing: 0.06em;
        text-decoration: none;
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .primary {
        background-color: $color-primary;

        &:hover {
            background-color: mix($color-secondary, #ffffff, 80%);
            box-shadow: $shadow;
        }
    }

    .secondary {
        background-color: $color-secondary;

        &:hover {
            background-color: mix($color-primary, #000000, 80%);
            box-shadow: $shadow;
        }
    }

    .big {
        width: $big-width;
    }

    .medium {
        width: $medium-width;
    }

    .small {
        width: $small-width;
    }
}